# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AuthorizationService.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\AuthorizationService\.idea\.idea.AuthorizationService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
